.DS_Store

# Node
node_modules

# Svelte
/build/assets
/build/*.html
/build/*/*
/.svelte-kit
/package

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Bun
bun.lockb
