.DS_Store

# NPM
node_modules

# Svelte
**/build
.svelte-kit/ambient.d.ts
.svelte-kit/generated
.svelte-kit/types

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
